/* /* Ejemplo de in o pulgadas */
/* h1 {
  margin-bottom: 1in;
} */

/* Ejemplo de cm o centímetros. */
/* h2 {
  line-height: 2cm;
}

/* Ejemplo de mm o milímetros */
/* h3 {
  letter-spacing: 14mm;
}

/* Ejemplo de pt o puntos */
/* h4 {
  padding: 5pt;
}

/* Ejemplo de pc o picas */
/* h5 {
  font-size: 0.5pc;
}
/* Ejemplo de px o píxeles */
/* h6 {
  font-size: 16px;
} */
html {
  font-size: 16px;
}
.ems li {
  font-size: 1.3em;
}
:root {
  font-size: 10px; /* Tamaño base */
}

h1 {
  font-size: 2rem; /* El doble del tamaño base: 20px */
}
/* Definición de variables en el pseudo-selector :root */
:root {
  /* Tamaño de fuente base */
  --font-size-base: 16px;

  /* Espaciados */
  --spacing-small: 0.5rem; /* 8px */
  --spacing-medium: 1rem; /* 16px */
  --spacing-large: 2rem; /* 32px */

  /* Colores */
  --color-primary: #3498db;
  --color-secondary: #e74c3c;
}

/* Establecer el tamaño de fuente base para el documento */
body {
  font-size: var(--font-size-base);
}
body {
  font-size: 1em;
}
h1 {
  font-size: 200%;
}
h2 {
  font-size: 150%;
}
